@font-face {
  font-family: 'Dosis';
  src: url("../src/fonts/Dosis-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', 'sans-serif';
  color: #2f1946; }

input:focus {
  outline: none; }

header {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 2; }

.burger-menu {
  position: absolute;
  top: 15px;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  width: 90px;
  cursor: pointer; }
  .burger-menu .burger__text {
    font-size: 20px;
    text-transform: uppercase;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .burger-menu .burger__text:hover {
      color: #603a88; }
  .burger-menu .burger__lines {
    height: 25px;
    width: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .burger-menu .burger__lines .burger__line {
      width: 100%;
      height: 5px;
      background-color: red;
      border-radius: 2px; }

.section-top {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  padding: 100px 100px 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../src/iStock-169971981.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .section-top .logo-img {
    position: relative;
    display: block;
    margin: 0 auto; }
  .section-top .main-title {
    margin: 80px 0 60px;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase; }
  .section-top .button-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
    height: 50px;
    margin: 0 auto;
    border-radius: 35px;
    cursor: pointer;
    color: #fff;
    background-color: #81398b;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .section-top .button-down:hover {
      font-size: 18px; }
    .section-top .button-down::after {
      content: url("../src/icons/arrow.png");
      margin-left: 15px; }
    .section-top .button-down::before {
      content: "";
      position: absolute;
      display: block;
      width: 175px;
      height: 60px;
      border: 1px solid #81398b;
      border-radius: 35px;
      -webkit-animation: pulsate 3s cubic-bezier(0.2, 1, 0.2, 1) infinite;
              animation: pulsate 3s cubic-bezier(0.2, 1, 0.2, 1) infinite; }
  .section-top .top-tiles-container {
    position: absolute;
    bottom: -130px;
    left: 0;
    height: 350px;
    width: 100%;
    margin: 0 auto; }
    .section-top .top-tiles-container .tiles-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 100%;
      width: 45%;
      margin: 0 auto; }
      .section-top .top-tiles-container .tiles-wrapper .top-tiles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 30%;
        height: 100%; }
      .section-top .top-tiles-container .tiles-wrapper .one-world {
        background-color: #fe4a5d; }
      .section-top .top-tiles-container .tiles-wrapper .two-hearts {
        background-color: #e22028; }
      .section-top .top-tiles-container .tiles-wrapper .one-site {
        background-color: #ff6c00; }

.top-tiles-container .tile-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.top-tiles-container .tile-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 130px;
  text-align: center;
  font-size: 32px;
  color: #fff;
  background-color: #00000024; }

.soc-network {
  position: fixed;
  left: 0;
  top: 40%;
  height: 208px;
  width: 52px;
  padding: 16px 0;
  border-radius: 0 4px 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #45124c;
  z-index: 5; }
  .soc-network .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
    .soc-network .content .social-icon {
      width: 27px; }

.welcome-section {
  padding-top: 200px; }
  .welcome-section .title {
    padding: 0 30%;
    margin-bottom: 60px;
    text-align: center; }
  .welcome-section .greetings {
    text-transform: uppercase;
    font-size: 55px; }
    .welcome-section .greetings::before {
      content: url("../src/Heart.png");
      margin-right: 10px; }
  .welcome-section .quote {
    position: relative;
    font-size: 30px; }
    .welcome-section .quote span {
      position: absolute;
      color: #fe4a5d;
      bottom: -40px;
      right: -20px; }

.welcome-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 100px;
  height: 600px;
  overflow: hidden; }
  .welcome-section-wrapper .welcome-form {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 100%;
    padding: 11px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: -webkit-gradient(linear, left top, right top, from(#e22028), to(#f9b416));
    background: -o-linear-gradient(left, #e22028, #f9b416);
    background: linear-gradient(90deg, #e22028, #f9b416); }
  .welcome-section-wrapper .form-wrapper {
    width: 100%;
    height: 100%;
    padding: 50px 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff; }
    .welcome-section-wrapper .form-wrapper .form-title {
      margin: 0 0 35px;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 40px; }
  .welcome-section-wrapper .sigh-up-facebook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 45px;
    width: 100%;
    background-color: #2f53a3;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer; }
    .welcome-section-wrapper .sigh-up-facebook::before {
      content: url("../src/f-facebook.png");
      margin-right: 10px; }
    .welcome-section-wrapper .sigh-up-facebook:hover {
      background: #27458a; }
  .welcome-section-wrapper .another {
    position: relative;
    margin: 20px 0;
    text-transform: uppercase;
    color: #9a9a9a; }
    .welcome-section-wrapper .another span {
      position: absolute;
      left: 44%;
      top: -10px;
      padding: 0 10px;
      background: #fff; }

.form-wrapper .form-input {
  height: 45px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px #dcdcdc solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #81398b;
  font-size: 16px;
  font-family: 'Dosis', 'sans-serif'; }

.form-wrapper ::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'Dosis', 'sans-serif'; }

.form-wrapper ::-moz-placeholder {
  font-size: 16px;
  font-family: 'Dosis', 'sans-serif'; }

.form-wrapper :-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Dosis', 'sans-serif'; }

.form-wrapper ::-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Dosis', 'sans-serif'; }

.form-wrapper ::placeholder {
  font-size: 16px;
  font-family: 'Dosis', 'sans-serif'; }

.form-wrapper .input-submit {
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: #81398b;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer; }
  .form-wrapper .input-submit:hover {
    background: #45124c; }

.form-wrapper .join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 270px; }

.first-photo-group {
  margin: 20px 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .first-photo-group .photo-left {
    margin: 70px 40px 0 0; }

.photo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.photo-img + .photo-img {
  margin-top: 40px; }

.second-photo-group {
  margin: 20px 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .second-photo-group .photo-right {
    margin: 0 0 70px 40px; }

.photo-img {
  position: relative;
  overflow: hidden; }
  .photo-img img {
    height: 100%; }
  .photo-img::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0; }
  .photo-img:hover::after {
    opacity: 1; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0; } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0; } }

.join-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 780px;
  overflow: hidden;
  background: url("../src/pattern.png") no-repeat #81398b;
  background-position: center;
  background-size: cover; }
  .join-section .circle {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%; }
  .join-section .circle:before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    display: block;
    width: 110%;
    height: 110%;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-animation: pulsate 3s cubic-bezier(0.2, 1, 0.2, 1) infinite;
            animation: pulsate 3s cubic-bezier(0.2, 1, 0.2, 1) infinite; }
  .join-section .inner-wrapper {
    text-align: center; }
    .join-section .inner-wrapper * {
      margin: 0;
      text-transform: uppercase; }
    .join-section .inner-wrapper h2 {
      font-size: 64px; }
    .join-section .inner-wrapper p {
      color: #fff; }
    .join-section .inner-wrapper .btn {
      position: relative;
      width: 150px;
      height: 45px;
      margin: 0 auto;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-family: 'Dosis';
      font-size: 16px;
      background: -webkit-gradient(linear, left top, right top, from(#e22028), to(#f9b416));
      background: -o-linear-gradient(left, #e22028, #f9b416);
      background: linear-gradient(90deg, #e22028, #f9b416);
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      cursor: pointer; }
      .join-section .inner-wrapper .btn span {
        position: relative;
        z-index: 2; }
      .join-section .inner-wrapper .btn::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        z-index: 1;
        opacity: 0; }
      .join-section .inner-wrapper .btn:hover::after {
        opacity: 1; }
  .join-section .join-now {
    width: 400px;
    height: 400px;
    background-color: #fff;
    z-index: 2; }
    .join-section .join-now .inner-wrapper {
      z-index: 2; }
      .join-section .join-now .inner-wrapper p {
        margin: 0 0 30px;
        text-transform: none;
        font-size: 50px;
        color: #2f1946; }

.send-flowers {
  top: 100px;
  left: 20%;
  width: 215px;
  height: 215px;
  background-color: #ff6c00; }
  .send-flowers .inner-wrapper {
    -webkit-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
            transform: rotate(-7deg);
    font-size: 32px; }

.genders {
  left: 25%;
  bottom: 73px;
  width: 170px;
  height: 170px;
  background-color: #f9b416; }
  .genders .inner-wrapper {
    -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
            transform: rotate(3deg);
    font-size: 24px; }
    .genders .inner-wrapper span {
      font-size: 40px; }

.languages {
  top: 65px;
  right: 24%;
  width: 165px;
  height: 165px;
  background-color: #fe4a5d; }
  .languages .inner-wrapper {
    -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
            transform: rotate(1deg);
    font-size: 18px; }
  .languages span {
    font-size: 36px; }

.chat-translation {
  right: 7%;
  bottom: 190px;
  width: 200px;
  height: 200px;
  background-color: #ff6c00; }
  .chat-translation .inner-wrapper {
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
    font-size: 25px; }

.flower-icon {
  top: 190px;
  left: -3%;
  width: 165px;
  height: 165px;
  background-color: #f9b416; }
  .flower-icon .inner-wrapper {
    width: 100%;
    height: 100%;
    background: url("../src/third-section-photos/flower-with-leaves.png") no-repeat center; }

.heart-icon {
  left: 7%;
  bottom: 245px;
  width: 110px;
  height: 110px;
  background-color: #fe4a5d; }
  .heart-icon .inner-wrapper {
    width: 100%;
    height: 100%;
    background: url("../src/third-section-photos/like.png") no-repeat center; }

.gift-icon {
  right: 27%;
  bottom: 185px;
  width: 110px;
  height: 110px;
  background-color: #fe4a5d; }
  .gift-icon .inner-wrapper {
    width: 100%;
    height: 100%;
    background: url("../src/third-section-photos/gift.png") no-repeat center; }

.messages-icon {
  top: 100px;
  right: -2%;
  width: 140px;
  height: 140px;
  background-color: #f9b416; }
  .messages-icon .inner-wrapper {
    width: 100%;
    height: 100%;
    background: url("../src/third-section-photos/chat-bubbles.png") no-repeat center; }

footer {
  padding-top: 35px; }

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .newsletter span {
    color: #00cfae;
    margin-right: 20px; }
  .newsletter .newsletter-submit {
    max-width: 140px;
    border: none;
    border-radius: 0 3px 3px 0;
    color: #fff;
    background: #00cfae;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .newsletter .newsletter-submit:hover {
      background: #0cc2a5; }

.newsletter-input {
  height: 45px;
  width: 260px;
  padding-left: 10px;
  border: 2px #dcdcdc solid;
  border-right-style: none;
  border-radius: 3px 0 0 3px;
  font-size: 16px;
  font-family: Dosis,sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.footer-menu {
  height: 70px;
  margin-top: 40px;
  background-color: #fafafa; }

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  max-width: 1270px;
  margin: auto;
  padding: 0;
  list-style: none; }
  .footer-nav__list .footer-nav__item a {
    color: #2f1946;
    text-decoration: none;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .footer-nav__list .footer-nav__item a:hover {
      color: #603a88; }

.flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 765px;
  width: 85%;
  margin: 30px auto 20px;
  padding: 0;
  list-style-type: none; }

hr {
  max-width: 900px;
  width: 90%; }

.copyright {
  margin: 0 auto 15px;
  text-align: center; }

@media (max-width: 1755px) {
  .welcome-section-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 1440px) and (min-width: 1367px) {
  .section-top {
    padding-top: 50px; }
    .section-top .logo-img {
      width: 380px; }
    .section-top .main-title {
      margin-top: 40px;
      font-size: 60px; }
    .section-top .top-tiles-container {
      height: 330px; }
  .circle {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); } }

@media (max-width: 1366px) and (min-width: 1281px) {
  .section-top {
    padding-top: 40px; }
    .section-top .logo-img {
      width: 350px; }
    .section-top .main-title {
      margin-top: 35px;
      margin-bottom: 40px;
      font-size: 40px; }
    .section-top .button-down {
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8); }
    .section-top .top-tiles-container {
      height: 300px; }
      .section-top .top-tiles-container .tile-logo {
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9); }
  .circle {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8); } }

@media (max-width: 1280px) {
  .section-top {
    padding-top: 40px; }
    .section-top .logo-img {
      width: 350px; }
    .section-top .main-title {
      margin-top: 35px;
      margin-bottom: 40px;
      font-size: 40px; }
    .section-top .top-tiles-container {
      height: 295px; }
      .section-top .top-tiles-container .tile-logo {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8); }
      .section-top .top-tiles-container .tile-title {
        font-size: 28px; }
    .section-top .main-title {
      margin-bottom: 50px;
      font-size: 60px; }
  .circle {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); } }

@media (max-width: 1024px) {
  .section-top {
    padding-left: 60px;
    padding-right: 60px; }
    .section-top .main-title {
      font-size: 44px;
      margin-bottom: 30px; }
    .section-top .top-tiles-container .tiles-wrapper {
      width: 60%; } }

@media (max-width: 768px) {
  .section-top .top-tiles-container .tile-logo {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); }
  .welcome-section .title {
    padding: 0 5%; }
  footer li + li {
    margin-left: 7px; }
  footer .flags {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px; }
    footer .flags li + li {
      margin-left: 15px; }
  .newsletter {
    width: 85%;
    margin: auto; }
  .footer-nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    padding: 0; }
  .footer-menu {
    width: 95%;
    margin: 20px auto 0; }
  .copyright {
    width: 95%; } }

@media (max-width: 480px) {
  .soc-network {
    width: 40px;
    height: 180px; }
    .soc-network .social-icon {
      width: 24px; }
  .section-top {
    padding: 80px 10px; }
    .section-top .logo-img {
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7); }
    .section-top .main-title {
      font-size: 40px; }
    .section-top .top-tiles-container {
      height: 250px; }
      .section-top .top-tiles-container .tiles-wrapper {
        width: 90%; }
      .section-top .top-tiles-container .tile-logo {
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6); }
      .section-top .top-tiles-container .tile-title {
        font-size: 22px; }
  .welcome-section .title {
    padding: 0 8%; }
  .welcome-form {
    width: 95%; }
  .welcome-section-wrapper .form-wrapper {
    padding: 50px 10%; }
    .welcome-section-wrapper .form-wrapper .form-title {
      font-size: 36px; }
  .join-section {
    height: 700px; }
  .circle.join-now {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6); }
  .circle {
    -webkit-transform: scale(0.55);
        -ms-transform: scale(0.55);
            transform: scale(0.55); }
  .messages-icon {
    right: -14%; }
  .flower-icon {
    left: -17%; }
  .heart-icon {
    left: 3%;
    bottom: 19%; }
  .genders {
    left: 12%;
    bottom: 2%; }
  .chat-translation {
    right: -7%;
    bottom: 12%; }
  .gift-icon {
    right: 24%;
    bottom: 3%; }
  .send-flowers {
    top: 0;
    left: 2%; }
  .languages {
    right: 17%; }
  footer {
    width: 100%;
    overflow: hidden; }
    footer .newsletter-input {
      width: auto;
      border-right-style: solid;
      border-bottom-style: none;
      border-radius: 3px 3px 0 0; }
    footer .newsletter {
      width: 65%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      footer .newsletter > span {
        width: 100%;
        text-align: center;
        margin-bottom: 5px; }
      footer .newsletter .newsletter-submit {
        max-width: unset;
        border-radius: 0 0 3px 3px; }
    footer .footer-nav__list {
      width: 90%;
      margin: auto; }
    footer .flags {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .copyright {
    width: 90%;
    margin: 0 auto 15px;
    font-size: 12px; } }

@media (max-width: 480px) and (max-height: 650px) {
  .section-top {
    padding-top: 20px; }
    .section-top .main-title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 25px;
      -webkit-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
              transform: translateY(-20px); }
  .button-down {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8); } }
